<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @product.amount %>
</p>


<p>
  <strong>Sale:</strong>
  <%= @product.sale.client %>
</p>

<%= link_to 'Edit', edit_sale_product_path(@sale, @product) %> |
<%= link_to 'Back', sale_products_path(@sale) %>
