<%= form_for(@sale) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Cliente %><br>
    <%= f.text_field :client %>
  </div>
  <div class="field">
    <%= f.label :Descricao %><br>
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :Comprada %><br>
    <%= f.check_box :status, {}, "Close", "Open" %> <br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
   
<% end %>
