<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @sale.client %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @sale.desc %>
</p>
<p>
  <strong>Buy:</strong>
  <%= @sale.status %>
</p>

<%= link_to 'Produtos', sale_products_path(@sale) %>
<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
